.wd-overflow{
	overflow:visible !important;
}

//Text alignment
.wd-text-left{
	text-align: left;
}

.wd-text-right{
	text-align: right;
}

.wd-text-center{
	text-align: center;
}

.wd-text-justify{
	text-align: justify;
}

//Banner Hover style
// border / flash / flash2 / maxzoom / gray / zoom / grayzoom
.wd-banner-hover--border{
    @include banner_style(border);
}
.wd-banner-hover--flash{
    @include banner_style(flash);
}
.wd-banner-hover--flash2{
    @include banner_style(flash2);
}
.wd-banner-hover--maxzoom{
    @include banner_style(maxzoom);
}
.wd-banner-hover--gray{
    @include banner_style(gray);
}
.wd-banner-hover--zoom{
    @include banner_style(zoom);
}
.wd-banner-hover--grayzoom{
    @include banner_style(grayzoom);
}

body {
	//Button style
	.wd-button-primary{
		@include button_style(primary);
	}

	.wd-button-primary-border{
		@include button_style(primary-border);
	}

	.wd-button-primary-reverse{
		@include button_style(primary-reverse);
	}

	.wd-button-primary-reverse-border{
		@include button_style(primary-reverse-border);
	}

	.wd-button-primary-outline{
		@include button_style(primary-outline);
	}

	.wd-button-primary-text-only{
		@include button_style(primary-text-only);
	}

	.wd-button-secondary{
		@include button_style(secondary);
	}

	.wd-button-secondary-border{
		@include button_style(secondary-border);
	}

	.wd-button-secondary-reverse{
		@include button_style(secondary-reverse);
	}

	.wd-button-secondary-reverse-border{
		@include button_style(secondary-reverse-border);
	}

	.wd-button-secondary-outline{
		@include button_style(secondary-outline);
	}

	.wd-button-secondary-text-only{
		@include button_style(primary-text-only);
	}

	.wd-button-disabled{
		@include button_style(disabled);
	}
}

//Spacing
.wd-margin-left-0 {
	margin-left: 0px !important

}
.wd-margin-right-0 {
	margin-right: 0px !important

}
.wd-padding-left-0 {
	padding-left: 0px !important

}
.wd-padding-right-0 {
	padding-right: 0px !important

}

//Flexbox
.wd-flex{
	@include flexbox;
}

.wd-flex-wrap{
	@include flex-wrap(wrap); 
}

.wd-flex-justify-left{
	@include justify-content(flex-start);
}

.wd-flex-justify-center{
	@include justify-content(center);
}

.wd-flex-justify-right{
	@include justify-content(flex-end);
}

.wd-flex-align-center{
	@include align-items(center);
}

.wd-flex-align-bottom{
	@include align-items(flex-end);
}

.wd-flex-grow{
	@include flex-grow(1);
}

.wd-flex-row-reverse{
	@include flex-direction(row-reverse);
}

.wd-flex-column{
	@include flex-direction(column);
}

.wd-flex-column-reverse{
	@include flex-direction(column-reverse);
}