.wd-message{
	padding: 10px;
	p{
		color: $text-color-light;
		display: inline-block;
		margin: 0;
		&:before{
			@include font_awesome(\f071, fontSize("smaller"));
			margin: 0 10px 0 0;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
	.wd-message-closebtn{
		float: right;
		line-height: 25px;
		color: $text-color-light;
		cursor: pointer;
		transition: transform .25s ease-in-out;
	}
}
.wd-message-warning{
	background-color: $background-color-alert;
}
.wd-message-success{
	background-color: $background-color-success;
}

.wd-alert{
	display: block;
	color: $text-color-alert;
	font-size: fontSize("tiny");
}