/* !Block styles */
.wd-layout-fullwidth{
	.wd-blog-desc > .entry-content,
	.wd-page-content-entry > .entry-content,
	.product > .entry-summary{
		> * {
			&.alignfull {
				width: 100vw;
				max-width: 100vw !important;
				margin-left: calc(-50vw + 50%);
				&.wd-shortcode{
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
	}
}

.wd-blog-desc > .entry-content, //blog
.wd-page-content-entry > .entry-content, //blog
.product > .entry-summary //single product
{
	> *{
		margin-top: 20px;
		margin-bottom: 20px;
		//@include postContentMaxWidth();

		&:first-child {
			margin-top: 0;
		}
	
		&:last-child {
			margin-bottom: 0;
		}

		select{
			height: 40px;
			padding-left: 10px;
			padding-right: 10px;
			width: auto;
			border: solid 1px $border-color-light;
		}
	
		&.alignwide {
			margin-left: auto;
			margin-right: auto;
			clear: both;
	
			@include breakpoint('min', 'tablet') {
				width: 100%;
				max-width: 100%;
			}
		}
	
		&.alignfull {
			position: relative;
			clear: both;
			@include breakpoint('min', 'tablet') {
				margin-top: 30px;
				margin-bottom: 30px;
				width: 100%;
				max-width: 100%;
			}
		}
	
		&.alignleft {
			/*rtl:ignore*/
			float: left;
			max-width: calc(5 * (100vw / 12));
			margin-top: 0;
			margin-left: 0;
			/*rtl:ignore*/
			margin-right: 1rem;
	
			@include breakpoint('min', 'tablet') {
				max-width: calc(4 * (100vw / 12));
				/*rtl:ignore*/
				margin-right: 30px;
			}
		}
	
		&.alignright {
			/*rtl:ignore*/
			float: right;
			max-width: calc(5 * (100vw / 12));
			margin-top: 0;
			margin-right: 0;
			/*rtl:ignore*/
			margin-left: 1rem;
	
			@include breakpoint('min', 'tablet') {
				max-width: calc(4 * (100vw / 12));
				margin-right: 0;
				/*rtl:ignore*/
				margin-left: 30px;
			}
		}
		&.aligncenter {
			margin-left: auto;
			margin-right: auto;

			//@include postContentMaxWidth();
	
			@include breakpoint('min', 'tablet') {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	//! Paragraphs
	p.has-background {
		padding: 20px 30px;
	}

	//! Audio
	.wp-block-audio {

		width: 100%;

		audio {
			width: 100%;
		}

		&.alignleft audio,
		&.alignright audio {

			// max-width: (0.33 * $mobile_width);

			// @include breakpoint('min', 'tablet') {
			// 	max-width: (0.5 * $tablet_width);
			// }

			// @include media(wide) {
			// 	max-width: (0.33 * $desktop_width);
			// }
		}
	}

	//! Video
	.wp-block-video {

		video {
			width: 100%;
		}
	}

	//! Button
	.wp-block-button {
		.wp-block-button__link {
			border: none;
			box-sizing: border-box;
			font-weight: fontWeight("bold");
			text-decoration: none;
			outline: none;
			color: $button--default-color;
			font-size: fontSize("root");
			padding: 10px 20px;
			&:not(.has-background) {
				background-color: $button--default-backgroundColor;
			}

			&:not(.has-text-color) {
				color: $button--default-color;
			}

			&:hover {
				color: $button--default-colorHover;
				background: $button--default-backgroundColorHover;
				cursor: pointer;
			}

			&:focus {
				color: $button--default-colorHover;
				background: $button--default-backgroundColorHover;
				outline: thin dotted;
				outline-offset: -4px;
			}
		}

		&:not(.is-style-squared) .wp-block-button__link {
			border-radius: 5px;
		}

		&.is-style-outline .wp-block-button__link,
		&.is-style-outline .wp-block-button__link:focus,
		&.is-style-outline .wp-block-button__link:active {
			&:not(.has-background) {
				background: transparent;
			}

			&:not(.has-text-color) {
				color: $button--default-colorHover;
				border-color: $button--default-borderColor;
			}
		}
		&.is-style-outline .wp-block-button__link{
			border-color: $button--default-borderColor;
			border-width: 2px;
			border-style: solid;
			&:hover {
				color: $button--default-colorHover;
				border-color: $button--default-borderColorHover;
				&:not(.has-background) {
					color: $button--default-colorHover;
				}
			}
		}
	}

	//! Latest posts, categories, archives
	.wp-block-archives,
	.wp-block-categories,
	.wp-block-latest-posts {
		padding: 0;
		list-style: none;
	}

	.wp-block-archives,
	.wp-block-categories {

		&.aligncenter {
			text-align: center;
		} 

		@extend %sidebar_category_list_style_1;
	}

	//! Latest posts grid view
	.wp-block-latest-posts{
		li{
			@extend %comment_author_name;
		}
		&.is-grid {
			li {
				border-top: 2px solid $border-color-light;
				padding-top: (1 * 1rem);
				margin-bottom: (2 * 1rem);
				@include breakpoint('max', 'mobile') {
					margin-right: 0;
				}
				a {
					&:after {
						content: '';
					}
				}
				&:last-child {
					margin-bottom: auto;
					a:after {
						content: '';
					}
				}
			}
		}
		&.has-dates{
			.wp-block-latest-posts__post-date{
				@extend %comment_meta_item;
			}
		}
	}

	//! Latest preformatted text
	.wp-block-preformatted {
		font-size: fontSize("smaller");
		line-height: 1.8;
		padding: 1rem;
	}

	//! Verse
	.wp-block-verse {
		font-size: 22px;
		line-height: 1.8;
	}

	//! Paragraphs
	.has-drop-cap {
		&:not(:focus):first-letter {
			font-family: $headings-font;
			font-size: fontSize("hero");
			line-height: 1;
			font-weight: fontWeight("bold");
			margin: 0 0.25em 0 0;
		}
	}

	//! Pullquote
	.wp-block-pullquote {
		border-color: transparent;
		border-width: 2px;
		padding: 1rem;

		blockquote {
			color: $color-textBase;
			border: none;
			margin-top: calc(4 * 1rem);
			margin-bottom: calc(4.33 * 1rem);
			margin-right: 0;
			padding-left: 0;
		}

		p {
			font-size: fontSize("large");
			font-style: italic;
			line-height: 1.3;
			margin-bottom: 0.5em;
			margin-top: 0.5em;

			em {
				font-style: normal;
			}

			@include breakpoint('min', 'tablet') {
				font-size: fontSize("larger");
			}
		}

		cite {
			display: inline-block;
			font-family: $headings-font;
			line-height: 1.6;
			text-transform: none;
			color: $color-text-secondary;

			/*
			 * This requires a rem-based font size calculation instead of our normal em-based one,
			 * because the cite tag sometimes gets wrapped in a p tag. This is equivalent to $font-size_xs.
			 */
			font-size: fontSize("tiny");
		}

		&.alignleft,
		&.alignright {
			width: 100%;
			padding: 0;

			blockquote {
				margin: 1rem 0;
				padding: 0;
				text-align: left;
				max-width: 100%;

				p:first-child {
					margin-top: 0;
				}
			}
		}

		&.is-style-solid-color {
			background-color: $color-textLink--hover;
			padding-left: 0;
			padding-right: 0;

			@include breakpoint('min', 'tablet') {
				padding-left: 10%;
				padding-right: 10%;
			}

			p {
				font-size: fontSize("large");
				line-height: 1.3;
				margin-bottom: 0.5em;
				margin-top: 0.5em;

				@include breakpoint('min', 'tablet') {
					font-size: fontSize("larger");
				}
			}

			a {
				color: $background-body-color;
			}

			cite {
				color: inherit;
			}

			blockquote {
				max-width: 100%;
				color: $background-body-color;
				padding-left: 0;
				margin-left: 1rem;
				margin-right: 1rem;

				&.has-text-color p,
				&.has-text-color a,
				&.has-primary-color,
				&.has-secondary-color,
				&.has-dark-gray-color,
				&.has-light-gray-color,
				&.has-white-color {
					color: inherit;
				}

				@include breakpoint('min', 'tablet') {
					margin-left: 0;
					margin-right: 0;
				}
			}

			&.alignright,
			&.alignleft {

				@include breakpoint('min', 'tablet') {
					padding: 1rem 30px;
				}
			}

			&.alignfull {

				@include breakpoint('min', 'tablet') {
					padding-left: calc(10% + 58px + (2 * 1rem));
					padding-right: calc(10% + 58px + (2 * 1rem));
				}
			}
		}
	}

	//! Blockquote
	.wp-block-quote {

		&:not(.is-large),
		&:not(.is-style-large) {
			border-left: 2px solid $color-textLink;
			padding-top: 0;
			padding-bottom: 0;
		}

		p {
			font-size: 1em;
			font-style: normal;
			line-height: 1.8;
		}

		cite {
			/*
			 * This requires a rem-based font size calculation instead of our normal em-based one,
			 * because the cite tag sometimes gets wrapped in a p tag. This is equivalent to $font-size_xs.
			 */
			font-size: fontSize("tiny");
		}

		&.is-large,
		&.is-style-large {
			margin: 1rem 0;
			padding: 0;
			border-left: none;

			p {
				font-size: fontSize("large");
				line-height: 1.4;
				font-style: italic;
			}

			cite,
			footer {
				/*
				 * This requires a rem-based font size calculation instead of our normal em-based one,
				 * because the cite tag sometimes gets wrapped in a p tag. This is equivalent to $font-size_xs.
				 */
				font-size: fontSize("tiny");
			}

			@include breakpoint('min', 'tablet') {
				margin: 1rem 0;
				padding: 1rem 0;

				p {
					font-size: fontSize("large");
				}
			}
		}
	}

	//! Image
	.wp-block-image {
		max-width: 100%;

		img {
			display: block;
		}

		.aligncenter {
			//@include postContentMaxWidth();

			@include breakpoint('min', 'tablet') {
				margin: 0;
				width: calc(8 * (100vw / 12) - 28px);

				img {
					margin: 0 auto;
				}
			}

			@include breakpoint('min', 'desktop') {
				width: calc(6 * (100vw / 12) - 28px);

				img {
					margin: 0 auto;
				}
			}
		}

		&.alignfull img {
			width: 100vw;
			max-width: calc( 100% + (2 * 1rem));

			@include breakpoint('min', 'tablet') {
				max-width: calc( 125% + 150px );
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	//! Cover Image
	.wp-block-cover-image,
	.wp-block-cover {
		position: relative;
		min-height: 430px;
		padding: 1rem;

		@include breakpoint('min', 'tablet') {
			padding: 1rem 10%;
		}

		.wp-block-cover-image-text,
		.wp-block-cover-text,
		h2 {
			font-family: $headings-font;
			font-size: fontSize("large");
			font-weight: fontWeight("bold");
			line-height: 1.25;
			padding: 0;
			color: $text-color-light;

			@include breakpoint('min', 'tablet') {
				font-size: fontSize("larger");
				max-width: 100%;
			}
		}

		&.alignleft,
		&.alignright {
			width: 100%;

			@include breakpoint('min', 'tablet') {
				padding: 1rem 30px;
			}
		}

		&.alignfull {

			.wp-block-cover-image-text,
			.wp-block-cover-text,
			h2 {
				//@include postContentMaxWidth();
			}

			@include breakpoint('min', 'tablet') {
				padding-left: calc(10% + 58px + (2 * 1rem));
				padding-right: calc(10% + 58px + (2 * 1rem));

				.wp-block-cover-image-text,
				.wp-block-cover-text,
				h2 {
					padding: 0;
				}
			}
		}
	}

	//! Galleries
	.wp-block-gallery {
		list-style-type: none;
		padding-left: 0;

		.blocks-gallery-image:last-child,
		.blocks-gallery-item:last-child {
			margin-bottom: 16px;
		}

		figcaption a {
			color: $text-color-light;
		}
	}

	//! Captions
	.wp-block-audio figcaption,
	.wp-block-video figcaption,
	.wp-block-image figcaption,
	.wp-block-gallery .blocks-gallery-image figcaption,
	.wp-block-gallery .blocks-gallery-item figcaption {
		font-family: $headings-font;
		line-height: 1.6;
		margin: 0;
		padding: ( 1rem * .5 );
		text-align: center;
	}

	//! Separator
	.wp-block-separator,
	hr {
		background-color: $background-color-white;
		border: 0;
		height: 2px;
		margin-bottom: (2 * 1rem);
		margin-top: (2 * 1rem);
		max-width: 2.25em;
		text-align: left;

		&.is-style-wide {
			max-width: 100%;
			//@include postContentMaxWidth();
		}

		&.is-style-dots {
			max-width: 100%;
			//@include postContentMaxWidth();
			background-color: inherit;
			border: inherit;
			height: inherit;
			text-align: center;

			&:before {
				color: $color-text-secondary;
				font-size: fontSize("large");
				letter-spacing: 0.1em;
				padding-left: 1em / (1 * 1.125);
			}
		}

		/* Remove duplicate rule-line when a separator
		 * is followed by an H1, or H2 */
		& + h1,
		& + h2 {

			&:before {
				display: none;
			}
		}
	}

	//! Twitter Embed
	.wp-block-embed-twitter {
		word-break: break-word;
	}

	//! Table
	.wp-block-table {
		th,
		td {
			border-color: $border-color-light;
			&:not(:last-child){
				border-right: 0;
			}
		}
		tr{
			&:not(:last-child){
				th,
				td {
					border-bottom: 0;
				}
			}
		}
		@extend %table_color;
	}

	//! File
	.wp-block-file {
		font-family: $headings-font;

		.wp-block-file__button {
			@include button_style(default);
		}
	}

	//! Code
	.wp-block-code {
		border-radius: 0;

		code {
			font-size: fontsize("smaller");
			white-space: pre-wrap;
    	    word-break: break-word;
		}
	}

	//! Columns
	.wp-block-columns {
		&.alignfull {
			padding-left: 1rem;
			padding-right: 1rem;
		}

		@include breakpoint('min', 'mobile') {
			flex-wrap: nowrap;
		}

		@include breakpoint('min', 'tablet') {
			.wp-block-column > * {

				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}

			&[class*='has-'] > * {
				margin-right: 1rem;

				&:last-child {
					margin-right: 0;
				}
			}

			&.alignfull,
			&.alignfull .wp-block-column {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}

	//! Latest Comments
	.wp-block-latest-comments {
		.wp-block-latest-comments__comment-author{
			@extend %comment_author_name;
		}

		.wp-block-latest-comments__comment-meta {
			@extend %comment_author_name;
			.wp-block-latest-comments__comment-date {
				@extend %comment_meta_item;
			}
		}

		.wp-block-latest-comments__comment,
		.wp-block-latest-comments__comment-date,
		.wp-block-latest-comments__comment-excerpt p {
			font-size: inherit;
		}

		&.has-avatars {

		}

		&.has-dates {

		}

		&.has-excerpts {

		}
	}

	//! Font Sizes
	.has-small-font-size {
		font-size: fontSize("tiny");
	}

	.has-normal-font-size {
		font-size: fontSize("root");
	}

	.has-large-font-size {
		font-size: fontSize("large");
	}

	.has-huge-font-size {
		font-size: fontSize("hero");
	}

	//! Custom background colors
	.has-primary-background-color,
	.has-secondary-background-color,
	.has-dark-gray-background-color,
	.has-light-gray-background-color {
		color: $color-textBase;
		p,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		a {
			color: $color-textBase;
		}
	}

	.has-white-background-color {
		color: $color-textBase;

		// Use dark gray text against this background by default.
		p,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		a {
			color: $color-textBase;
		}
	}

	.wp-block-embed-wordpress-tv{
		&.alignfull{
			.wp-block-embed__wrapper{
				text-align: center;
				iframe{
					width: 100% !important;
				}
			}
		}
	}

	.has-primary-background-color,
	.wp-block-pullquote.is-style-solid-color.has-primary-background-color {
		background-color: $color-textLink;
	}

	.has-secondary-background-color,
	.wp-block-pullquote.is-style-solid-color.has-secondary-background-color {
		//background-color: $border-color-light-link-hover;
	}

	.has-dark-gray-background-color,
	.wp-block-pullquote.is-style-solid-color.has-dark-gray-background-color {
		background-color: $color-textBase;
	}

	.has-light-gray-background-color,
	.wp-block-pullquote.is-style-solid-color.has-light-gray-background-color {
		background-color: $background-color-white;
	}

	.has-white-background-color,
	.wp-block-pullquote.is-style-solid-color.has-white-background-color {
		background-color: $background-color-white;
	}

	//! Custom foreground colors
	.has-primary-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-primary-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-primary-color p {
		color: $color-textLink;
	}

	.has-secondary-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-secondary-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-secondary-color p {
		color: $color-text-secondary;
	}

	.has-dark-gray-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-dark-gray-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-dark-gray-color p {
		color: $color-textBase;
	}

	.has-light-gray-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-light-gray-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-light-gray-color p {
		color: $color-text-secondary;
	}

	.has-white-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-white-color {
		color: $text-color-light;
	}
}
