header .wd-header-mobile{
	background:$background-color-white;
	z-index: 999;
	width: 100%;
	border-bottom: solid 1px $border-color-light;
	position: relative;
	.wd-header-bottom{
		position: relative;
		@include flexbox;
		@include align-items(center);
		height: 50px;
		.wd-header-mobile-content-left{
			width: auto;
		}
		.wd-header-mobile-content-center{
			height: 100%;
			@include flex-grow(1);
			.wd-logo{
				position: absolute;
				left: 50%;
				top: 0;
				bottom: 0;
				z-index: 1;
				text-align: center;
				height: 100%;
				@include transform(translateX(-50%));
				@include flexbox; 
				@include justify-content(center);
				@include align-items(center);
				img{
					max-width: 50%;
				}
			}
		}
		.wd-header-mobile-content-right{
			width: auto;
			@include flexbox;
			@include justify-content(flex-end);
			@include align-items(center);
			.wd-search{
				width: 10%;
			}
		}
	}
}