
.wd-layout-toggle-wrap{
    margin-bottom: 30px;
    ul.option-set{
        margin:0;
        @include flexbox; 
        @include justify-content(flex-end);
        @include align-items(center);
        li{
            width: 30px;
            height: 30px;
            line-height: 30px;
            background:none!important;
            text-indent: 0;
            text-align:center;
            list-style: none;
            cursor: pointer;
            border: 1px solid $border-color-light;
            margin-left: 12px;
            @include link_style(secondary);
            &:after{
                content:none!important;
            }
            &.active, &:hover{
                border: 1px solid $border-color-dark;
            }
        }
    }
}

.wd-layout-fullwidth{
    .wd-blog-toggle-layout-wrapper, .wd-product-toggle-layout-wrapper {
        &.alignfull{
            // padding-left: 15px;
            // padding-right: 15px;
        }
    }
}

.wd-product-toggle-layout-wrapper{
    @include flexbox; 
    @include justify-content(flex-end);
    @include flex-direction(column);
    @include breakpoint('max', 'tablet') {
        // margin-left: -15px;
        // margin-right: -15px;
    }
    @include breakpoint('min', 'tablet') {
        @include flex-direction(row);
    }
    .woocommerce-result-count{
        @include flex(1);
    }
}