$color-textBase: #282828;
$color-textLink: #282828;
$color-textLink--hover: #b47828;
$color-text-secondary: #969696;
$color-textLink-secondary: #FF2D55;
$color-textLink-secondary--hover: #333333;
$color-textHeading: #000000;
$color-textHeading--desc: #000000;

$background-body-color: #ffffff;
$background-color-light: #ffffff;
$background-color-dark: #282828;

$table-heading-color: #ffffff;
$table-heading-background-color: #282828;
$table-row-odd-color: #282828;
$table-row-odd-background-color: #ffffff;
$table-row-even-color: #282828;
$table-row-even-background-color: #f9f9f9;

$button--default-color: #ffffff;
$button--default-colorHover: #282828;
$button--default-backgroundColor: #282828;
$button--default-backgroundColorHover: #ffffff;
$button--default-borderColor: #ffffff;
$button--default-borderColorHover: #FF2D55;
$button--primary-color: #ffffff;
$button--primary-colorHover: #FF2D55;
$button--primary-backgroundColor: #FF2D55;
$button--primary-backgroundColorHover: #ffffff;
$button--primary-borderColor: #ffffff;
$button--primary-borderColorHover: #FF2D55;
$button--disabled-color: #ffffff;
$button--disabled-backgroundColor: #cccccc;
$button--disabled-borderColor: #cccccc;

$border-color-light: #dbdbdb;
$border-color-dark: #282828;
$border-color-white: #ffffff;
$border-color-alert: #f00f00;

$navUser-color: #000000;
$navUser-color-hover: #FF2D55;

$navPages-color: #000000;
$navPages-color-hover: #FF2D55;
$navPages-subMenu-background-Color: #ffffff;
$navPages-subMenu-background-Color-hover: #dddddd;
$navPages-subMenu-border-Color: #dbe2e5;
$navPages-flag-new-Color: #33a561;
$navPages-flag-sale-Color: #8224e3;
$navPages-flag-hot-Color: #ff3366;

$pagination-color: #969696;
$pagination-color-hover: #141414;
$pagination-background-color: #ffffff;
$pagination-background-color-hover: #ffffff;

$product-icon-ratingEmpty: #999999;
$product-icon-ratingFull: #fabe00;
$product-title-color: #282828;
$product-title-color-hover: #282828;
$product-price-color: #282828;
$product-price-sale-color: #999999;

$icon-color: #757575;
$icon-color-hover: #999999;
$button--icon-svg-color: #757575;
$countPill-color: #ffffff;
$countPill-backgroundColor: #000000;

$footer-backgroundColor: #ffffff;
$footer-color: #282828;
$footer-link-color: #282828;
$footer-link-colorHover: #b47828;
$footer-heading-color: #ffffff;
$copyright-backgroundColor: #ffffff;
$copyright-color: #969696;
$copyright-linkColor: #969696;
$copyright-linkColor-hover: #b47828;

$dropdown-backgroundColor: #ffffff;
$dropdown-textColor: #282828;
$dropdown-borderColor: #dbdbdb;

$body-font: "Arimo","Helvetica Neue", Helvetica, sans-serif;
$headings-font: "Arimo","Helvetica Neue", Helvetica, sans-serif;
$menu-font: "Arimo","Helvetica Neue", Helvetica, sans-serif;
$logo-font: "Yesteryear","Helvetica Neue", Helvetica, sans-serif;
$blog-title-font: "Unna","Helvetica Neue", Helvetica, sans-serif;
$fontFamily: (
"body-font": $body-font,
"headings-font": $headings-font,
"menu-font": $menu-font,
"logo-font": $logo-font,
"blog-title-font": $blog-title-font,
);

$fontSize: (
"root": 14px,
"base": 1rem,
"hero": 50px,
"largest": 36px,
"larger": 30px,
"large": 24px,
"small": 20px,
"smaller": 16px,
"smallest": 12px,
"tiny": 12px,
);

$breakpoints: (
"min-smallest": (min-width: 320px),
"min-small": (min-width: 375px),
"min-mobile": (min-width: 480px),
"min-tablet": (min-width: 768px),
"min-desktop": (min-width: 992px),
"min-large": (min-width: 1024px),
"min-largest": (min-width: 1200px),
"max-smallest": (max-width: 319px),
"max-small": (max-width: 374px),
"max-mobile": (max-width: 479px),
"max-tablet": (max-width: 767px),
"max-desktop": (max-width: 991px),
"max-large": (max-width: 1023px),
"max-largest": (max-width: 1199px),
);

