.wd-masonry-blog-content-inner:not(.list) {
	.wd-blog-item{
		margin-bottom: 30px;
	}
	.wd-blog-desc, .wd-blog-meta--category{
		display: none;
	}
	.wd-content-post-format--none.wd-post-has-thumbnail{
		position:relative;
		width:100%;
	}

	.wd-blog-content-wrap {
		margin-bottom: 0;
		.wd-blog-meta-content{
			display: none;
		}
	}

	@include breakpoint('min', 'tablet') {
		.wd-content-post-format--none.wd-post-has-thumbnail{
			.wd-blog-content-wrap{
				position: absolute;
				top: auto;
				bottom:0;
				left: 0;
				right: 0;
				padding:20px;
				margin-top: 0;
				//background-image: linear-gradient(to bottom, rgba($background-color-white, 0), rgba($background-color-dark, 1));
				background: linear-gradient(0deg, rgba($background-color-dark, .7),rgba($background-color-dark, .3) 60%, transparent);
				z-index: zIndex("lower");
				@include opacity(0);
				@include transition(all .5s ease);
				.wd-title-blog a{
					color: $text-color-light;
				}
			}
			&:hover{
				.wd-blog-content-wrap{
					@include opacity(1);

				}
			}
		}
	}
}