/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: $color-textBase;
}

:-moz-placeholder {
	color: $color-textBase;
}

::-moz-placeholder {
	color: $color-textBase;
}

:-ms-input-placeholder {
	color: $color-textBase;
}