.woocommerce{
	.wishlist_table .add_to_cart, a.add_to_wishlist.button.alt {
		@include border-radius(0);
	}
	.wishlist-title  {
		display:block;
		text-align:center;
		h2 {
			position:relative;
			padding: 0 45px;
			text-align: center;
			margin-bottom: 30px;
			&:before,&:after {
				content: "";
				position: absolute;
				top: 50%;
				width: 0;
				height: 0;
				 border-top: 8px solid transparent;
			    border-bottom: 8px solid transparent;
				-webkit-transform: translateY(-50%);
			    -moz-transform: translateY(-50%);
			    transform: translateY(-50%);
			}
			&:before {	    
			    left:0;	    
			   
			    border-left: 15px solid $border-color-dark;		    
			}
			&:after {
			    right:0;
			    border-right: 15px solid $border-color-dark;
			}
		}
	}
	table.wishlist_table{
		border:none;
		margin:0 0 30px;
		font-size:100%;
		border-collapse: collapse;
		@include border-radius(0);
		@include breakpoint('max', 'tablet'){
			border:none;
		}	
		thead{
			@include breakpoint('max', 'tablet'){
				display:none;
			}	
			tr{
				th{
					text-transform:uppercase;
					text-align:center;
					padding:12px;
					border:1px solid $border-color-light;
				}
			}
		}
		tbody{
			tr{
				@include breakpoint('max', 'tablet'){
					display:block;
				}
				td{
					color: $color-textBase;
					@include breakpoint('max', 'tablet'){
						display:block;
						text-align:right;
						width:100%!important;
						border: none;
						border-bottom: 1px solid $border-color-light;
						&:before{
							content: attr(data-title) " ";
							float: left;
							margin-right: 15px;
						}
					}
					padding:30px;
					border:1px solid $border-color-light;
					width:20%;
					&.product-thumbnail{
						width:15%;
						a{
							max-width:100%;
							img{width:auto;}
						}
					}
					&.product-name{
						a{
							text-transform:uppercase;
							@include link_style(primary);
						}
						dl.variation{
							dt{
								font-weight: fontWeight("normal");
							}
							dd{
								margin-bottom:5px;
							}
						}
					}
					&.product-price, &.product-subtotal{
						.amount{
							font-weight: fontWeight("medium");
							color: $color-textBase;
						}
					}
					&.product-price ins {
						.amount {
							font-size: 18px;
							font-weight: fontWeight("semibold");
						}
					}
					&.product-stock-status{
						.wishlist-in-stock{
							display:inline-block;
							text-transform:uppercase;
							padding:5px 25px;							
						}
					}
					&.product-remove{
						width:5%;
						a.remove{
							font-size:0;
							height: auto;
							width: auto;
							background: none;
							&:before{
								@include font_awesome(\f057, 20px);
								color: $color-textBase;
							}
						}
					}
					&.product-add-to-cart{
						a.button{							
							font-weight: fontWeight("medium");
							padding:11px 18px;
							margin-bottom:0;
							border:solid 2px $border-color-dark;
							@include border-radius(0);
						}
						a{
							&:before, &:after{
								display:none;
							}
						}
					}
				}
			}
		}
		.product-add-to-cart{
			a.added_to_cart.wc-forward{
			    display: none!important;
			}
		}
	} 
}