.wd-shortcode-profile {
	+.wd-shortcode-contact-form {
		margin-top: 40px;
	}
}

.wd-shortcode-contact-form{
	.wd-contact-form-message{
		textarea{
			margin: 0;
		}
	}
	.wd-contact-form-info{
		@include flexbox; 
		@include flex-direction(column);
		>*{
			@include flex(1);
		}
		input{
			width:100%;
			margin: 0;
			border: 1px solid $border-color-light;
			margin-bottom: 7px;
			&:hover, &:active{
				border-top-width: 1px;
				border-right-width: 1px !important;
				border-color: $border-color-dark;
			}
		}
		@include breakpoint('min', 'tablet') {
			margin-top: -7px;
			@include flex-direction(row);
			input{
				margin-bottom: 0;
				border-top-width: 0;
				height: 50px;
				line-height: 50px;
			}
			>*{
				&:not(:last-child){
					input{
						border-right-width: 0;
					}
				}
			}
		}
	}

	//alert
	.wpcf7-not-valid-tip{
		color: $text-color-alert;
		font-size: fontSize("tiny");
		margin-top: 5px;
		@include breakpoint('max', 'tablet') {
			margin-bottom: 5px;
		}
	}
	//notice
	.wpcf7-response-output{
		margin: 20px 0 0;
	}

	.wd-contact-form-alert{
		margin-top: 30px;
		color: $color-textBase;
		.wd-icon{
			margin-right: 5px;
		}
	}
	.wd-contact-form-submit{
		margin-top: 20px;
	}
}