body .wd-main-content-wrap{
	.wd-button-style-1{
		@include button_style(primary);
	}

	.wd-button-style-2{
		@include button_style(secondary);;
	}

	/* Loadmore button */
	.wd-loadmore{
		text-align:center;
		a.button{
			@include button_style(primary);
			&:after{
				content: ">";
	    		margin-left: 10px;
			}
		}
		.wd-icon-loading{
			margin-bottom: 30px;
		}
		.load_more_masonry{
			span{
				padding:10px;
				border:solid 1px $border-color-dark;
				color: $text-color-dark;
			}
		}
	}

	/* Default Slider button */
	.owl-theme .owl-controls{ 
		.owl-page,.owl-dots .owl-dot{ 
			display:inline-block;
			span{  
				background-color:#b7b7b7; 
				margin:5px;
				width:10px;
				height:10px;
				@include transition; 
				@include border-radius(30px); 
				display:block;
			}
			&:hover, &.active{
				span{ 
					background-color: $text-color-dark;
				}
			}
			&.active span{ 
				cursor:default;
			}
		}
	}
}