.wd-logo{
    .wd-logo-text{
        white-space: nowrap;
        font-family: $logo-font;
        color: $color-textHeading;
        margin: 0;
        font-size: fontSize("largest");
        @include breakpoint('min', 'desktop') {
            font-size: fontSize("hero");
        }
    }
}