.wd-shortcode-my-account-form-wrapper{
    text-align: center;
    .wd-info-user-logged-avatar + .wd-info-user-logged-name{
        text-transform: uppercase;
        margin-top: 10px;
        font-weight: fontWeight("semibold");
    }
}