.wd-count_icon {
    text-align:center;
    .counter{
        font-size:48px;
    }
    .wd-information-text{
        font-size:15px;
        text-transform:uppercase;
    }
}

.right-product-home2{
    .wd-shortcode-product-slider-home2{
        margin-right: -15px;
        padding-left:90px;
        margin-top: 90px;
        @include breakpoint('max', 'desktop') {
            margin: 30px 0 0 0;
            padding:0;
        }
    }
}
.left-product-home2{
    .wd-shortcode-product-slider-home2{
        margin-left: -15px;
        padding-right:90px;
        margin-top: 90px;
        @include breakpoint('max', 'desktop') {
            margin: 20px 0 0 0;
            padding:0;
        }
    }
}
.wd-shortcode-product-slider-wrapper.wd-shortcode-product-slider-home2{
    .products.list{
        margin-top:45px;
        @include breakpoint('max', 'mobile') {
            margin: 0 -15px;
        }
        .wd-product-button-wrap, .wd-color-image-swap{
            display: none;
        }
    }
}
.wd-description-shortcode {
    color: #282828;
    margin: 0 auto;
    margin-bottom:40px;
    a{
        background: none;
        color: #282828;
        font-weight: fontWeight("semibold");
        text-transform: uppercase;
        text-decoration: underline !important;
        &:hover{
            color: #a5a5a5;
        }
    }
}