.wd-count-pill{
    width: 17px;
    height: 17px;
    text-align: center;
    border-radius: 50%;
    line-height: 24px;
    font-size: fontSize('tiny');
    font-weight: fontWeight('semibold');
    position: absolute;
    left: 50%;
    top: -13px;
    // background-color: $countPill-backgroundColor;
    // color: $countPill-color;
    @include flexbox; 
    @include justify-content(center);
    @include align-items(center);
    @include transform(translateX(-50%));
    @include breakpoint('min', 'tablet') {
        font-size: fontSize('root') - 1px;
    }
}