.woocommerce{
    .star-rating{
		font-family: star;
		font-size: 12px;
		overflow: hidden;
		position: relative;
		height: 1em;
		letter-spacing: 2px;
		min-width: 72px;
		span:before{ color: #f3b26b;}
		&:before {
			content: "\73\73\73\73\73";
			color: #d3ced2;
			float: left;
			top: 0;
			left: 0;
			position: absolute;
		}
		span {
		    &:before {
				content: "\53\53\53\53\53";
				color: #f3b26b;
				top: 0;
				position: absolute;
				left: 0;
		    }
		}
	}
}