.wd-dropdown--minicart{
    font-size: fontSize("root") - 1px;
    &.wd-showing-cart{
        height: auto;
        @include opacity(1);
        @include transform(scale(1, 1));
    }
    .wd-dropdown-body{
        .wd-cart-item-info{
            padding-bottom: 10px;
            font-weight: fontWeight("normal");
            text-transform: capitalize;
        }
        .cart_list{
            padding: 0;
            max-height: 290px;
            overflow-y: auto;
            li{
                width: 100%;
                line-height: 19px;
                margin-top: 0;
                @include flexbox;
                > a,.cart_item_wrapper{
                    display: table-cell;
                    vertical-align: top;
                }
                > a{
                    width: 35%;
                    text-align: center;
                    margin-right: 10px;
                    img{
                        width: 100%;
                    }
                }
                .cart_item_wrapper{
                    padding: 0 15px 0 0;
                    width: 65%;
                    position: relative;
                    overflow: hidden;
                    .wd-minicart-item-title{
                        display: inline-block;
                        font-weight: fontWeight("semibold");
                        text-transform: uppercase;
                    }
                    .quantity{
                        font-weight: fontWeight("semibold");
                        display: block;
                        padding-top: 5px;
                    }
                    .amount{
                        font-weight: fontWeight("semibold");
                    }
                    a.remove{
                        position: absolute;
                        right: 2px;
                        top: 0;
                        line-height: 20px;
                        width: 20px;
                        height: 20px;
                        text-align: center;
                        font-weight: fontWeight("bold");
                        font-size: fontSize("small");
                        @include border-radius(50%);
                        @include text_color_hover($text-color-dark, $text-color-light, 1);
                        @include background_color_hover($background-color-white, $background-color-dark, 1);
                    }
                }
                &:not(:last-child){
                    margin-bottom: 10px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid $border-color-light;
                }
            }
        }
    }
    .wd-cart-empty{
        text-transform: uppercase;
        border-bottom: 1px solid $border-color-light;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .wd-empty-cart-btn{
        border-bottom: 1px solid $border-color-light;
        border-top: 1px solid $border-color-light;
        padding: 13px 0px;
        margin-top: 10px;
        text-transform: uppercase;
        font-weight: fontWeight("semibold");
        position: relative;
        .wd-loading--empty-minicart{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: auto;
            img{
                height: 100%;
            }
        }
    }
    .wd-dropdown-footer{
        margin-top: 20px;
        text-transform: uppercase;
        @include flexbox; 
        @include justify-content(space-between);
        >*{
            @include flex(1);
        }
        .buttons{
            a{
                display: block;
                text-align: center;
                &.cart{
                    @include button_style(secondary);
                }
                &.checkout{
                    font-weight: fontWeight("semibold");
                    @include link_style(primary);
                    padding-left: 0 !important;
                    text-align: left;
                }
                &.cart, &.checkout{
                    line-height: 1;
                    padding: 15px;
                    letter-spacing: 0;
                }
            }
        }
        .total{
            @include flexbox;
            @include justify-content(flex-end);
            font-weight: fontWeight("bold");
            padding-top: 15px;
            .total-label{
                font-weight: fontWeight("bold");
                text-transform: uppercase;
            }
            .total-price{
                margin-left: 5px;
                span{
                    font-weight: fontWeight("bold");
                }
            }
        }
    }
    .wd-minicart-notice{
        font-style: italic;
        font-weight: fontWeight("medium");
        font-size: fontSize("tiny");
    }
}