.wd-dropdown--myaccount{
    .wd-dropdown-body{
        form.login{
            border:none;
            margin:0;
            padding:0;
        }
    }
    &.wd-user-logged{
        min-width: 180px;
    }
    p.login-password, p.login-username{
        input{
            margin-bottom: 10px;
        }
    }
    
    p{
        margin-top: 0px;
    }
    label{
        min-width: 100px;
    }
    .wd-dropdown-footer{
        text-align: center;
        a{
            text-decoration: underline !important;
        }
    }
    .wd-my-account-list{
        margin-bottom:0;
        padding:0;
        li{
            list-style: none;
            line-height: 25px;
        }
    }
    .wd-login-alert{
        label.error.wd-login-error{
            font-weight: fontWeight("normal");
            font-style: italic;
            color: $text-color-alert;
        }
    }
}