@-ms-viewport {
    width: device-width;
}
@viewport {
    width: device-width;
}


html{
	overflow-x: hidden;
	@include breakpoint('max', 'desktop') {
		overflow: initial !important;
	}
}

body {
	position: relative;
	font-family: fontFamily('body-font');
    font-size: fontSize("root");
    font-weight: fontWeight("normal");
	line-height:1.6666;
	color: $color-textBase;
	background-color: $background-body-color;
	&.logged-in{
		padding-top: 0 !important;
	}
    h1{
        font-size: fontSize("largest");
    }
    h2{
        font-size: fontSize("larger");
    }
    h3{
        font-size: fontSize("large");
    }
    h4{
        font-size: fontSize("small");
    }
    h5{
        font-size: fontSize("smaller");
    }
    h6{
        font-size: fontSize("smallest");
    }
	a{
		vertical-align:top;
		@include transition;
		@include link_style(primary);
	}
	select::-ms-expand {
		display: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}

	ul, ol{
		padding:0;
		list-style-position: inside;
		ul, ol{
			padding-left: 20px;
		}
	}
	img{
		max-width:100%;
	}
	table {
		border-bottom: 1px solid $border-color-light;
		border-collapse: collapse;
		border-spacing: 0;
		font-size: 14px;
		line-height: 2;
		margin: 0 0 20px;
		width: 100%;
		tbody th,td {
			border-top: 1px solid $border-color-light;
			padding:0;
		}
		&.wd-table{
			@extend %table_color;
		}
	}

	label input[type="radio"], label input[type="checkbox"] {
	    margin-top: 0px;
	    vertical-align: middle;
	}

	button, 
	.button, 
	input#submit, 
	input[type="submit"],
	input[type="button"],
	input[type="reset"]{
		@include button_style(primary);
	}

	input[type='text'],
	input[type='email'],
	input[type='password'],
	input[type='tel'],
	textarea {
	    color: $color-textBase;
		background-color:transparent;
		border: 1px solid $border-color-light;
		height:35px;
		padding:0 20px;
		width:100%;
		@include transition;
		@include border-radius(0);
		&:hover,&:focus,&:active{
			border-color: darken($border-color-dark, 20%);
			outline: 0; 
		}
	}
	input, textarea{
		&::placeholder{
			color: $color-text-secondary;
		}
	}
	textarea,.woocommerce #reviews #comment{ 
		height: 30px;
	}
	textarea{
		min-height: 190px; 
		padding: 20px;
	}
	input.input-text{
		min-height: 28px;
	}
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: $color-textBase;
}

:-moz-placeholder {
	color: $color-textBase;
}

::-moz-placeholder {
	color: $color-textBase;
}

:-ms-input-placeholder {
	color: $color-textBase;
}

//Scroll bar
@include breakpoint('min', 'large') {
    ::-webkit-scrollbar {
        background: $scrollbar-backgroundColor;
        width: 11px;
        height: 11px;
    }
    ::-webkit-scrollbar-thumb {
        background: $scrollbar-buttonColor;
        @include border-radius(10px);
    }
}
